<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BGYZhiTuo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A138F2231FBD846700058855</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A138F23B1FBD846700058855</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A138F2461FBD846700058855</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
